# No subir claves ni configuración privada
.env

# Archivo de credenciales Firebase (service account)
serviceAccountKey.json


# Archivos de Python
__pycache__/
*.pyc

# Migrations (si no querés subirlas)
migrations/

# Archivos de base de datos (si usás SQLite local)
*.sqlite3

# Archivos del entorno virtual (si tenés venv)
venv/
