[python: **/*.py]
encoding = utf-8
# Palabras clave que Babel debe extraer en Python
keywords = _ gettext lazy_gettext _l ngettext:1,2 pgettext:1c,2 npgettext:1c,2,3

[jinja2: templates/**.html]
encoding = utf-8
# Necesario para que Babel entienda {% trans %} y {{ _('...') }} en Jinja
extensions = jinja2.ext.i18n
# (Opcional) repetir keywords también para Jinja:
keywords = _ gettext ngettext:1,2 pgettext:1c,2 npgettext:1c,2,3
