<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>{{ _('Prueba Video') }}</title>
  <style>
    body, html {
      margin: 0;
      background: black;
      height: 100vh;
    }
    video {
      width: 100%;
      height: 100%;
      object-fit: contain;
      background-color: black;
    }
  </style>
</head>
<body>
  <video controls autoplay muted playsinline>
    <source src="https://mazo-app.com/uploads/videos/70b3aceaed77465f82ff345ae9a58c9a.mp4" type="video/mp4">
    {{ _('Tu navegador no soporta el video.') }}
  </video>
</body>
</html>
